<div class="panel-container">
    <div class="panel">
        <div class="row header">
            <div class="col name">
                <span id="current-parent" class="current-parent"></span>
            </div>
            <div class="col">包裝方法</div>
            <div class="col">輸出Log</div>
            <div class="col">被Promise.all執行</div>
        </div>

        <div id="panel-body"></div>
    </div>

    <div class="panel-footer">
        <ui-button id="download-inject-script-button">下載 inject_script</ui-button>
        <ui-button id="resume-test-code-button">復原所有腳本</ui-button>
        <ui-button id="insert-test-code-button">開始包裝腳本</ui-button>
    </div>
</div>