<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_btn_room_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,81}</string>
                <key>spriteSourceSize</key>
                <string>{262,81}</string>
                <key>textureRect</key>
                <string>{{586,1},{262,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_btn_room_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,81}</string>
                <key>spriteSourceSize</key>
                <string>{262,81}</string>
                <key>textureRect</key>
                <string>{{669,1},{262,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_btn_room_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,81}</string>
                <key>spriteSourceSize</key>
                <string>{262,81}</string>
                <key>textureRect</key>
                <string>{{586,265},{262,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_btn_room_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,81}</string>
                <key>spriteSourceSize</key>
                <string>{262,81}</string>
                <key>textureRect</key>
                <string>{{669,265},{262,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,107}</string>
                <key>spriteSourceSize</key>
                <string>{583,107}</string>
                <key>textureRect</key>
                <string>{{1,520},{583,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{509,345},{36,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_lobby_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{556,263},{28,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{586,576},{32,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{620,576},{32,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{509,305},{38,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_lobby_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{509,383},{34,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_lobby_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{509,419},{34,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_lobby_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{509,455},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{545,455},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{586,529},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_BK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{509,263},{40,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_lobby_colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{556,345},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{556,310},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_lobby_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{556,382},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,517}</string>
                <key>spriteSourceSize</key>
                <string>{506,517}</string>
                <key>textureRect</key>
                <string>{{1,1},{506,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_come_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,67}</string>
                <key>spriteSourceSize</key>
                <string>{260,67}</string>
                <key>textureRect</key>
                <string>{{509,1},{260,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishHunterLobby.png</string>
            <key>size</key>
            <string>{751,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b1103a51f8c90ed3e4929f5840e1e2:b644a9bac68ae9e615801180b19db434:1a949344d51f39e1280e6c2a58b34da2$</string>
            <key>textureFileName</key>
            <string>fishHunterLobby.png</string>
        </dict>
    </dict>
</plist>
