<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_AutoExchangeCredits.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,39}</string>
                <key>spriteSourceSize</key>
                <string>{332,39}</string>
                <key>textureRect</key>
                <string>{{306,383},{332,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_AutoShot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{244,68}</string>
                <key>textureRect</key>
                <string>{{635,513},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_AutoUse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{202,62}</string>
                <key>spriteSourceSize</key>
                <string>{244,68}</string>
                <key>textureRect</key>
                <string>{{682,784},{202,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Balance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,33}</string>
                <key>spriteSourceSize</key>
                <string>{148,33}</string>
                <key>textureRect</key>
                <string>{{682,848},{148,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_CashOutandExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,45}</string>
                <key>spriteSourceSize</key>
                <string>{169,45}</string>
                <key>textureRect</key>
                <string>{{1,797},{169,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Denom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,33}</string>
                <key>spriteSourceSize</key>
                <string>{70,33}</string>
                <key>textureRect</key>
                <string>{{832,848},{70,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,34}</string>
                <key>spriteSourceSize</key>
                <string>{149,34}</string>
                <key>textureRect</key>
                <string>{{1,844},{149,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_GameInstruction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,62}</string>
                <key>spriteSourceSize</key>
                <string>{213,62}</string>
                <key>textureRect</key>
                <string>{{635,449},{213,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_History.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,62}</string>
                <key>textureRect</key>
                <string>{{640,385},{214,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,44}</string>
                <key>spriteSourceSize</key>
                <string>{171,44}</string>
                <key>textureRect</key>
                <string>{{870,1},{171,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_boss_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{682,577},{205,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_boss_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{748,577},{205,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{144,50}</string>
                <key>spriteSourceSize</key>
                <string>{146,68}</string>
                <key>textureRect</key>
                <string>{{856,385},{144,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,56}</string>
                <key>spriteSourceSize</key>
                <string>{112,56}</string>
                <key>textureRect</key>
                <string>{{617,325},{112,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_congratulate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,73}</string>
                <key>spriteSourceSize</key>
                <string>{127,73}</string>
                <key>textureRect</key>
                <string>{{751,258},{127,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_creditexchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,50}</string>
                <key>spriteSourceSize</key>
                <string>{438,50}</string>
                <key>textureRect</key>
                <string>{{814,577},{204,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{255,110}</string>
                <key>spriteSourceSize</key>
                <string>{443,110}</string>
                <key>textureRect</key>
                <string>{{758,1},{255,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{182,68}</string>
                <key>textureRect</key>
                <string>{{731,333},{146,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,72}</string>
                <key>spriteSourceSize</key>
                <string>{132,72}</string>
                <key>textureRect</key>
                <string>{{617,251},{132,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,0}</string>
                <key>spriteSize</key>
                <string>{309,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{306,251},{309,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,0}</string>
                <key>spriteSize</key>
                <string>{309,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{306,317},{309,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{216,204}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,385},{216,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1,591},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{174,214}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{219,424},{174,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_kill_dragon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{198,186}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{435,424},{198,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{373,612},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{373,678},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_main_gd_is_coming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{755,248}</string>
                <key>spriteSourceSize</key>
                <string>{755,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{755,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{373,744},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{373,810},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_select_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{248,68}</string>
                <key>textureRect</key>
                <string>{{866,531},{146,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_shark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{259,110}</string>
                <key>spriteSourceSize</key>
                <string>{443,110}</string>
                <key>textureRect</key>
                <string>{{189,600},{259,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_sn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{219,385},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,132}</string>
                <key>spriteSourceSize</key>
                <string>{303,132}</string>
                <key>textureRect</key>
                <string>{{1,251},{303,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,70}</string>
                <key>spriteSourceSize</key>
                <string>{274,70}</string>
                <key>textureRect</key>
                <string>{{301,600},{274,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishHunter_tw.png</string>
            <key>size</key>
            <string>{917,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d05d53a3d2e7768cd3a6aba4e2a245:ce3eaf9f88256200ca8c62ca1e1e90ac:cada382caf5dc8ff23f97509adff299c$</string>
            <key>textureFileName</key>
            <string>fishHunter_tw.png</string>
        </dict>
    </dict>
</plist>
