<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_AutoExchangeCredits.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,39}</string>
                <key>spriteSourceSize</key>
                <string>{332,39}</string>
                <key>textureRect</key>
                <string>{{306,255},{332,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_AutoShot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{244,68}</string>
                <key>textureRect</key>
                <string>{{672,620},{212,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_AutoUse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{202,62}</string>
                <key>spriteSourceSize</key>
                <string>{244,68}</string>
                <key>textureRect</key>
                <string>{{760,277},{202,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_Balance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,33}</string>
                <key>spriteSourceSize</key>
                <string>{149,33}</string>
                <key>textureRect</key>
                <string>{{824,277},{149,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_CashOutandExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,44}</string>
                <key>spriteSourceSize</key>
                <string>{170,44}</string>
                <key>textureRect</key>
                <string>{{368,890},{170,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Denom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,33}</string>
                <key>spriteSourceSize</key>
                <string>{70,33}</string>
                <key>textureRect</key>
                <string>{{211,389},{70,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,34}</string>
                <key>spriteSourceSize</key>
                <string>{149,34}</string>
                <key>textureRect</key>
                <string>{{540,912},{149,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_GameInstruction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,62}</string>
                <key>spriteSourceSize</key>
                <string>{213,62}</string>
                <key>textureRect</key>
                <string>{{608,620},{213,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_History.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,62}</string>
                <key>spriteSourceSize</key>
                <string>{214,62}</string>
                <key>textureRect</key>
                <string>{{544,620},{214,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,43}</string>
                <key>spriteSourceSize</key>
                <string>{170,43}</string>
                <key>textureRect</key>
                <string>{{802,481},{170,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_boss_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{694,397},{205,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_boss_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{736,604},{205,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{144,50}</string>
                <key>spriteSourceSize</key>
                <string>{146,68}</string>
                <key>textureRect</key>
                <string>{{688,834},{144,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{114,58}</string>
                <key>textureRect</key>
                <string>{{640,255},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_congratulate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,74}</string>
                <key>spriteSourceSize</key>
                <string>{142,74}</string>
                <key>textureRect</key>
                <string>{{544,836},{142,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_creditexchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,50}</string>
                <key>spriteSourceSize</key>
                <string>{438,50}</string>
                <key>textureRect</key>
                <string>{{1,895},{204,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,110}</string>
                <key>spriteSourceSize</key>
                <string>{443,110}</string>
                <key>textureRect</key>
                <string>{{1,783},{253,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{182,68}</string>
                <key>textureRect</key>
                <string>{{691,886},{146,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,80}</string>
                <key>spriteSourceSize</key>
                <string>{142,80}</string>
                <key>textureRect</key>
                <string>{{615,315},{142,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{306,296},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{306,362},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{208,196}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1,389},{208,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{172,190}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{520,428},{172,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{186,194}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1,587},{186,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{174,196}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{368,692},{174,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,0}</string>
                <key>spriteSize</key>
                <string>{305,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{211,560},{305,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,0}</string>
                <key>spriteSize</key>
                <string>{305,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{189,626},{305,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_main_gd_is_coming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{762,252}</string>
                <key>spriteSourceSize</key>
                <string>{762,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{762,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{211,428},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{307,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{211,494},{307,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_select_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{248,68}</string>
                <key>textureRect</key>
                <string>{{802,653},{146,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_shark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{259,110}</string>
                <key>spriteSourceSize</key>
                <string>{443,110}</string>
                <key>textureRect</key>
                <string>{{256,692},{259,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_sn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{189,692},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,132}</string>
                <key>spriteSourceSize</key>
                <string>{303,132}</string>
                <key>textureRect</key>
                <string>{{1,255},{303,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,70}</string>
                <key>spriteSourceSize</key>
                <string>{274,70}</string>
                <key>textureRect</key>
                <string>{{765,1},{274,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishHunter_cn.png</string>
            <key>size</key>
            <string>{858,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08e1f87790f53d04c0432c5ffb3241e4:89c9312106c3acf96479f101c67902bb:151094dc2473973bb298419f275f5d94$</string>
            <key>textureFileName</key>
            <string>fishHunter_cn.png</string>
        </dict>
    </dict>
</plist>
