<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_AutoExchangeCredits.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,35}</string>
                <key>spriteSourceSize</key>
                <string>{382,35}</string>
                <key>textureRect</key>
                <string>{{1,421},{382,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_AutoShot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,69}</string>
                <key>spriteSourceSize</key>
                <string>{256,69}</string>
                <key>textureRect</key>
                <string>{{1227,269},{256,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_AutoUse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{195,66}</string>
                <key>spriteSourceSize</key>
                <string>{195,68}</string>
                <key>textureRect</key>
                <string>{{1022,412},{195,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Balance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,30}</string>
                <key>spriteSourceSize</key>
                <string>{118,30}</string>
                <key>textureRect</key>
                <string>{{667,421},{118,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_CashOutandExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,31}</string>
                <key>spriteSourceSize</key>
                <string>{85,31}</string>
                <key>textureRect</key>
                <string>{{1870,445},{85,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Denom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,30}</string>
                <key>spriteSourceSize</key>
                <string>{140,30}</string>
                <key>textureRect</key>
                <string>{{1728,430},{140,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,40}</string>
                <key>spriteSourceSize</key>
                <string>{165,40}</string>
                <key>textureRect</key>
                <string>{{1728,333},{165,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_GameInstruction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,57}</string>
                <key>spriteSourceSize</key>
                <string>{119,57}</string>
                <key>textureRect</key>
                <string>{{1978,199},{119,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_History.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,54}</string>
                <key>spriteSourceSize</key>
                <string>{142,54}</string>
                <key>textureRect</key>
                <string>{{1978,320},{142,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,51}</string>
                <key>spriteSourceSize</key>
                <string>{160,51}</string>
                <key>textureRect</key>
                <string>{{1219,420},{160,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_boss_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1521,333},{205,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_boss_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1521,399},{205,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{138,58}</string>
                <key>spriteSourceSize</key>
                <string>{146,68}</string>
                <key>textureRect</key>
                <string>{{1381,420},{138,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,50}</string>
                <key>spriteSourceSize</key>
                <string>{188,58}</string>
                <key>textureRect</key>
                <string>{{1469,340},{68,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_congratulate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{1728,375},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_creditexchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{364,53}</string>
                <key>spriteSourceSize</key>
                <string>{438,57}</string>
                <key>textureRect</key>
                <string>{{1227,214},{364,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,78}</string>
                <key>spriteSourceSize</key>
                <string>{248,78}</string>
                <key>textureRect</key>
                <string>{{1219,340},{248,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{120,34}</string>
                <key>spriteSourceSize</key>
                <string>{182,68}</string>
                <key>textureRect</key>
                <string>{{2001,67},{120,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,30}</string>
                <key>spriteSourceSize</key>
                <string>{103,30}</string>
                <key>textureRect</key>
                <string>{{1485,269},{103,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{411,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1584,133},{411,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{411,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{792,346},{411,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_th.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{789,205}</string>
                <key>spriteSourceSize</key>
                <string>{789,205}</string>
                <key>textureRect</key>
                <string>{{1,214},{789,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,0}</string>
                <key>spriteSize</key>
                <string>{415,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1584,67},{415,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,0}</string>
                <key>spriteSize</key>
                <string>{415,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{792,280},{415,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_main_gd_is_coming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1581,211}</string>
                <key>spriteSourceSize</key>
                <string>{1581,211}</string>
                <key>textureRect</key>
                <string>{{1,1},{1581,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{433,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1584,1},{433,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{433,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{792,214},{433,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_select_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{228,58}</string>
                <key>spriteSourceSize</key>
                <string>{248,68}</string>
                <key>textureRect</key>
                <string>{{792,412},{228,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_shark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,78}</string>
                <key>spriteSourceSize</key>
                <string>{244,78}</string>
                <key>textureRect</key>
                <string>{{1898,199},{244,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_sn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1485,301},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,132}</string>
                <key>spriteSourceSize</key>
                <string>{303,132}</string>
                <key>textureRect</key>
                <string>{{1593,199},{303,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{280,54}</string>
                <key>spriteSourceSize</key>
                <string>{280,60}</string>
                <key>textureRect</key>
                <string>{{385,421},{280,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishHunter_th.png</string>
            <key>size</key>
            <string>{2036,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39398f046825c855e11b8d448309c710:6aefd748db5803cc48cc2cfacd61bdc4:d6fa3b0c9561e982fb26fc8711c538b4$</string>
            <key>textureFileName</key>
            <string>fishHunter_th.png</string>
        </dict>
    </dict>
</plist>
