
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
assets/Tool/CheckScoreESBuild/dist/
assets/Tool/CheckScoreESBuild/dist.meta
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
# .vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#///////////////////////////
# Tool
#///////////////////////////
tools/art-config-tool
plugin/

#///////////////////////////
# ESLint
#///////////////////////////
# 開發者個人的 ESLint 配置檔案
eslint-rules-dev-local.config.js