<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_AutoExchangeCredits.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,35}</string>
                <key>spriteSourceSize</key>
                <string>{385,35}</string>
                <key>textureRect</key>
                <string>{{881,325},{385,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_AutoShot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,68}</string>
                <key>spriteSourceSize</key>
                <string>{294,68}</string>
                <key>textureRect</key>
                <string>{{841,428},{294,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_AutoUse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{375,64}</string>
                <key>spriteSourceSize</key>
                <string>{375,68}</string>
                <key>textureRect</key>
                <string>{{464,372},{375,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Balance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,37}</string>
                <key>spriteSourceSize</key>
                <string>{136,37}</string>
                <key>textureRect</key>
                <string>{{1479,506},{136,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_CashOutandExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,44}</string>
                <key>spriteSourceSize</key>
                <string>{139,44}</string>
                <key>textureRect</key>
                <string>{{1501,460},{139,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Denom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,42}</string>
                <key>textureRect</key>
                <string>{{1137,428},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_Exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,34}</string>
                <key>spriteSourceSize</key>
                <string>{206,34}</string>
                <key>textureRect</key>
                <string>{{1317,403},{206,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_GameInstruction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,63}</string>
                <key>spriteSourceSize</key>
                <string>{160,63}</string>
                <key>textureRect</key>
                <string>{{1317,499},{160,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_History.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,73}</string>
                <key>spriteSourceSize</key>
                <string>{181,73}</string>
                <key>textureRect</key>
                <string>{{1651,317},{181,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_Start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,40}</string>
                <key>spriteSourceSize</key>
                <string>{246,40}</string>
                <key>textureRect</key>
                <string>{{1275,325},{246,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_boss_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1010,498},{205,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_boss_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1010,564},{205,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{146,58}</string>
                <key>spriteSourceSize</key>
                <string>{146,68}</string>
                <key>textureRect</key>
                <string>{{1317,564},{146,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{132,52}</string>
                <key>spriteSourceSize</key>
                <string>{188,58}</string>
                <key>textureRect</key>
                <string>{{705,438},{132,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_congratulate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,55}</string>
                <key>spriteSourceSize</key>
                <string>{113,55}</string>
                <key>textureRect</key>
                <string>{{1525,403},{113,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_creditexchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{328,58}</string>
                <key>spriteSourceSize</key>
                <string>{438,60}</string>
                <key>textureRect</key>
                <string>{{346,570},{328,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{357,94}</string>
                <key>spriteSourceSize</key>
                <string>{443,110}</string>
                <key>textureRect</key>
                <string>{{1,438},{357,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{182,58}</string>
                <key>spriteSourceSize</key>
                <string>{182,68}</string>
                <key>textureRect</key>
                <string>{{1317,439},{182,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,32}</string>
                <key>spriteSourceSize</key>
                <string>{110,32}</string>
                <key>textureRect</key>
                <string>{{1,600},{110,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,0}</string>
                <key>spriteSize</key>
                <string>{329,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{360,504},{329,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_high_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,0}</string>
                <key>spriteSize</key>
                <string>{329,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{881,362},{329,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_kill_dragon_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{878,111}</string>
                <key>spriteSourceSize</key>
                <string>{878,111}</string>
                <key>textureRect</key>
                <string>{{1,259},{878,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,0}</string>
                <key>spriteSize</key>
                <string>{343,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1,534},{343,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_low_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,0}</string>
                <key>spriteSize</key>
                <string>{343,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{360,438},{343,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_main_gd_is_coming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1723,256}</string>
                <key>spriteSourceSize</key>
                <string>{1723,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{1723,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{461,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{1,372},{461,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_mid_odd_fish_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{461,64}</string>
                <key>spriteSourceSize</key>
                <string>{487,64}</string>
                <key>textureRect</key>
                <string>{{881,259},{461,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_select_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{248,56}</string>
                <key>spriteSourceSize</key>
                <string>{248,68}</string>
                <key>textureRect</key>
                <string>{{1217,362},{248,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_shark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{305,84}</string>
                <key>spriteSourceSize</key>
                <string>{443,110}</string>
                <key>textureRect</key>
                <string>{{1344,317},{305,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_sn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{841,372},{42,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,132}</string>
                <key>spriteSourceSize</key>
                <string>{303,132}</string>
                <key>textureRect</key>
                <string>{{705,500},{303,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{360,56}</string>
                <key>spriteSourceSize</key>
                <string>{360,60}</string>
                <key>textureRect</key>
                <string>{{1344,259},{360,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishHunter_vi.png</string>
            <key>size</key>
            <string>{1725,633}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d99d55c2e9917e6a222b3ddf0cdee07d:40963cc7463460a59c6c6a93ef4df235:ed68220daf2c9ff7fb5b0ebd69fa9502$</string>
            <key>textureFileName</key>
            <string>fishHunter_vi.png</string>
        </dict>
    </dict>
</plist>
